.error {
    display: grid;
    place-items: center;
    place-content: center;

    width: 100%;
    height: 100%;

    padding: 0 1em;

    font-size: clamp(0.9em, calc(1vw + 1vh), 23px);

    &__title {
        font-family: "Nunito";
        font-size: 1.85em;
        font-weight: bold;
        color: var(--error-color, black);
        line-height: 1.25em;
        text-align: center;

        margin-block-end: 0.75em;
    }

    &__message {
        font-family: "Consolas", sans-serif;
        font-size: 1.45em;
        font-weight: 600;
        color: var(--error-color, black);
        line-height: 1.5em;
        text-align: center;

        margin-block-end: 0.5em;
    }

    &__description {
        font-family: "Consolas", sans-serif;
        font-weight: 100;
        font-size: 1.15em;
        color: var(--error-color, black);
        line-height: 1.5em;
        text-align: center;

        max-width: 500px;
        word-break: break-word;
    }
}

body[theme="dark"],
body[data-theme="dark"],
body.dark {
    --error-color: white;
}
