tooltip-container {
    position: fixed;
    inset: 0 auto auto 0;

    display: inline-block;
    place-items: center;
    place-content: center;

    letter-spacing: 0.2px;
    text-align: center;
    white-space: pre-line;
    word-wrap: break-word;

    border-radius: 6px;

    backdrop-filter: saturate(50%) blur(2px) opacity(0.5);

    background-color: rgba(92, 92, 92, 0.4);

    padding: 0;

    transform: translate(calc(var(--position-x) * 1px), calc(var(--position-y) * 1px));
    transform-origin: center;

    overflow: hidden;

    pointer-events: none;
    user-select: none;

    will-change: opacity, padding, --position-x, --position-y, --padding-duration;

    transition-duration: 300ms, var(--padding-duration, 300ms);
    transition-property: all, padding;
    transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1), ease-in;

    animation-name: tooltip-blink;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    opacity: 0;

    z-index: 999999;

    &[data-activated] {
        opacity: 1;
        padding: var(--padding, 10px 15px);
    }

    >tooltip-content {
        max-width: max(250px, 25vw);
        max-height: max(250px, 30vh);

        width: fit-content;
        height: fit-content;

        color: white;

        font-family: "Ubuntu";
        font-size: 16.5px;
    }
}


@keyframes tooltip-blink {
    0% {
        background-color: rgba(92, 92, 92, 0.4);
    }

    100% {
        background-color: rgba(10, 10, 10, 0.4);
    }
}
