*,
*:after,
*:before {
    -webkit-tap-highlight-color: transparent;
    outline: none;

    scroll-behavior: smooth;

    box-sizing: border-box;

    z-index: 0;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    display: none;
}

*:hover::-webkit-scrollbar {
    display: block;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-show-color);
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover-color);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-active-color);
}

body {
    --scrollbar-show-color: hsla(0, 0%, 60%, 0.6);
    --scrollbar-hover-color: rgba(90, 90, 90, 0.5);
    --scrollbar-active-color: rgba(75, 75, 75, 0.6);

    background-color: whitesmoke;

    scroll-behavior: smooth;

    min-height: 100vh;
    min-width: 100vw;
}

body.dark,
body[data-theme="dark"] {
    --scrollbar-show-color: rgba(213, 204, 204, 0.5);
    --scrollbar-hover-color: rgba(235, 235, 235, 0.6);
    --scrollbar-active-color: rgba(255, 255, 255, 0.8);

    color: white;
    background-color: rgb(24, 24, 24);
}

:root {
    --flat-color-green: #a8cc8c;
    --flat-color-red: #e88388;
    --flat-color-blue: #71bef2;
    --flat-color-aqua: #66c2cd;
    --flat-color-yellow: #dbab79;
    --flat-color-orange: #e67e22;
    --flat-color-gray: #6b737e;
    --flat-color-magenta: #d290e4;
    --flat-color-black: #282d35;
    --flat-color-pink: #f368e0;

    --osc-color-whitesmoke: #f6f6f6;
    --osc-color-pink: #ff66aa;
    --osc-color-green: #88b400;
    --osc-color-blue: #44aadd;
    --osc-color-yellow: #f6c21c;
    --osc-color-orange: #ffa502;
    --osc-color-red: #dd2d44;
    --osc-color-brown: #3f313d;
    --osc-color-gray: #485e74;
    --osc-color-dark: #1e1e1e;
    --osc-color-purple: #593790;
    --osc-color-darkGreen: #0c4207;
    --osc-color-darkBlue: #032b3d;
    --osc-color-darkYellow: #444304;
    --osc-color-darkRed: #440505;
    --osc-color-lightBlue: #daf3ff;
    --osc-color-navyBlue: #333d79;

    --color-green: rgb(147, 252, 173);
    --color-green-dark: rgb(26, 233, 77);
    --color-blue: rgb(166, 225, 252);
    --color-blue-dark: rgb(57, 190, 252);
    --color-yellow: rgb(253, 240, 141);
    --color-yellow-dark: rgb(255, 209, 27);
    --color-red: rgb(255, 181, 201);
    --color-red-dark: rgb(255, 75, 123);
    --color-pink: rgb(255, 198, 250);
    --color-pink-dark: rgb(255, 79, 240);
    --color-orange: rgb(255, 211, 190);
    --color-orange-dark: rgb(255, 135, 79);
    --color-gray: rgb(157, 152, 152);

    --font-primary: "Segoe UI";
    --font-secondary: "Nunito";
    --font-code: "Consolas";
}

a {
    all: unset;
    text-decoration: none;
}

i {
    background: transparent;
    pointer-events: none;
}
